{% extends 'base.html.twig' %}

{% block title %}Concert-Project!{% endblock %}

{% block body %}
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4 font-weight-normal">Bienvenue sur CP</h1>
    <p class="lead font-weight-normal">Vous trouverez ici les concerts à venir ainsi qu'un listing des groupes et de leurs membres !</p>
    <p class="lead font-weight-normal"><i>Yeah Dude</i></p>

  </div>

  <img class="img-fluid" src="images/concert.jpg">
</div>

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4 font-weight-normal">Quels sont les prochains concerts à venir ?</h1>
    <br><br>

    <div class="container">
      <table class="table">
        <tbody>
          {% for concert in concerts %} 
            {% if(concert.date.date|date('Y-m-d') > "now"|date('Y-m-d')) %} 

            <tr>
              <th><a href="/band/{{ concert.band.id }}">{{ concert.band.name }}</a></th>
            <td>{{ concert.tourName }}</td>
            <td>{{ concert.date.date|format_datetime(locale='fr',pattern="dd MMMM YYYY")|title }}</td>
            </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}
