{% extends 'base.html.twig' %}
{% block title %}Concert-Project!{% endblock %}

{% block body %}
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
  <div class="col-md-5 p-lg-3 mx-auto my-3">
      <h1 class="display-4 font-weight-normal">My account</h1>
      <p class="lead font-weight-normal"><i>Yeah Dude</i></p>
  </div>
</div>


<!-- 
<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
    <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">E-mail</th>  
        </tr>
      </thead>
      <tbody>
        {% for account in accounts %} 
        <tr>
          <th>{{ account.firstName }}</a></th>
          <th>{{ account.lastName }}</a></th>
          <th>{{ account.email }}</a></th>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <div class="text-center">
        <a href="/user/form" class="btn btn-primary">Modifier</a>
    </div>

    </div>
</div> -->


<div class="container emp-profile">
    <div class="row justify-content-center align-items-center h-100">

      <div class="col-md-3">
        <input type="hidden" class="" name="" value=""/>
      </div>

      <div class="col-md-8">
        <div class="tab-content profile-tab" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="row">
              <div class="col-md-6">
                <label>Nom</label>
              </div>
              <div class="col-md-6">
                <p>Pierre</p>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <label>Prénom</label>
              </div>
              <div class="col-md-6">
                <p>yes</p>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <label>E-mail</label>
              </div>
              <div class="col-md-6">
                <p>Email</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>

</body>
</html>

{% endblock %}
